body{
  background-color: rgb(216, 136, 111);
}

h1{
  text-align: center;
  color: white;
  font-size: 5vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  border-radius: 25px;  width: 10cm;
width: 10cm;
  gap: 50px, 50px;
  text-align: center;

}
img {
    width: 10cm;
    height: 5cm;
    border-radius: 15px;
}