body{
  background-color: rgb(216, 136, 111);
}

h1{
  text-align: center;
  color: white;
  font-size: 5vh;
}
.container {
    
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  width: 10cm;

}

.container div {
    display: flex;
    flex-direction: row;
  color: rgb(66, 52, 52);
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  grid-row: auto;


}
img {
    width: 10cm;
    height: 5cm;
    border-radius: 15px;
}