body{
  background-color: rgb(34, 32, 32);
}

h1{
  text-align: center;
  color: white;
  font-size: 5vh;
}


.book-container {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  right: 50%;
}

.book-container div {
  color: rgb(66, 52, 52);
  background-color: #e9d4d4;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  right: 110%;
}


#image{
  width: 300px;
  height: 350px;
}
