body{
  background-color: rgb(34, 32, 32);
}

h1{
  text-align: center;
  color: white;
  font-size: 5vh;
}
.book{
  display: flex;
}

.book-inner{
  Position: relative;
Width: 100%;
Height: 100%;
Transition: transform 0.6s;
Transform-style: preserve-3d;

}
.book-container {
  display: flex;
  gap: 50px 100px;
  flex-direction:row;
  grid-template-columns: auto auto auto;
  padding: 10px;
  Perspective: 1000px;
Cursor: pointer;
  
}
.book-front, .book-back{
Width: 100%;
Height: 100%;
Backface-visibility: hidden;
Background-color: white;
Border-radius: 10px;
Padding: 20px;
}
.book-back{
  Transform: rotateY(180deg);
Display: flex;
Flex-direction: column;
Justify-content: center;
}

.book-container div {
  color: rgb(66, 52, 52);
  background-color: #e9d4d4;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  right: 50%;
  Perspective: 1000px;
Cursor: pointer;
Height: 550px;
width: 400px;
}
.book-back h2 {

Font-size: 24px;
Margin-bottom: 15px;
Color: #4a90e2
}
.book-back p {
Font-size: 14px;
Line-height: 1.6;
Margin-bottom: 10px;
Color: #333;

}

#image{
  width: 300px;
  height: 350px;
}
#navbar{
  width: 80vw;
  margin: 0 auto;
}
ul {
  width: 80vw;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #fcfcfc;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
}